/* Container for the grid */
.Grid-container {
  display: grid; /* Enable grid layout */
  grid-template-columns: 0.5fr 0.2fr; /* Create two equal columns */
  grid-template-rows: repeat(6, auto);
  gap: 0px 0px;
  padding: 0px 5px; /* Add padding around the grid */
  max-width: 500px; /* Set a maximum width for the container */
  max-height: 100px; 
  margin: auto 0; /* Centering options */
  align-items: top; /* Vertically center items in all grid cells */
}

/* Text column styling */
.Text-column {
  font-size: 20px;
  line-height: 1.2;
  height: auto;
  padding: 2px; /* Add small padding inside text cells */
}

/*************** Flexbox Code ****************/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  /* border: 1px solid black; */
  padding: 10px;
}

.leftDiv {
  /* background-color: lightblue; */
  padding: 20px;
  margin-right: 10px;
  flex: 1;
}

.rightDiv {
  /* background-color: lightblue; */
  padding: 20px;
  flex: 3;
}